{% extends 'base.html' %}
{% load static %}

{% block encabezado %}
<h1>Localización de mascotas</h1>
{% endblock encabezado %}

{% block titulo %}
Localización de mascotas
{% endblock titulo %}

{% block contenido %}
<!-- Mostrar mensajes del Arduino -->
<!-- mi_template.html -->
<script>
    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/arduino/');

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#mensajes').innerHTML += (data.mensaje + '<br>');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>

<div id="mensajes"></div>

  <!-- Los mensajes recibidos se mostrarán aquí -->
</div>

<div class="row">
    <div class="col-md-4">
        <p class="lead">Estas son tus Mascotas</p>
        <ol class="list-group">
            {% for location in locations %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Lat: {{ location.lat }}, Lng: {{ location.lng }}</div>
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="col-md-8">
        {{ map|safe }}
    </div>
</div>

{% endblock contenido %}
